.venv/
# Coverage
.coverage
.coverage.*
htmlcov/
# wandb
wandb/
# checkpoints
checkpoint_*
# repo specific ignores
dino_3d/
pallatom/data/
train_datasets/
eval_datasets/
checkpoints/
psp-lite/
REST_APIs/
bash_scripts/
# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
# pytest cache
.pytest_cache/
# ruff cache
.ruff_cache/
# macOS system files
.DS_Store
# Build / packaging
dist/
build/
*.egg-info/
# superpowers artefacts
docs/superpowers/*
# pytorch tensors
*.pt
# json / jsonl. these are configs and datafiles
pallatom/train/*.json
pallatom/train/*.jsonl
# commit messages
commit_msg.txt
