.venv/
# Coverage
.coverage
.coverage.*
htmlcov/
# wandb
wandb/
# checkpoints
checkpoint_*
# logs 
pallatom/train/*logs.jsonl
# repo specific ignores
pallatom/data/
train_datasets/
eval_datasets/
checkpoints/
psp-lite/
# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
# pytest cache
.pytest_cache/
# ruff cache
.ruff_cache/
# macOS system files
.DS_Store
# Build / packaging
dist/
build/
*.egg-info/
